.main-bg {
    background-color: var(--bg-color);
    color: var(--main-text-color);
    opacity: 1;
    font-family: var(--main-font-family);

}


* {
    box-sizing: border-box;
}

/* media queris!!!!!! */
@media print {

    /* esta es la parte del type */
    .header.header,
    .footer,
    .banner {
        display: none
    }

}