.skills {
    padding: 2rem;
    text-align: center;
    color: var(--skills-color);
}

.skill {
    margin-bottom: 1rem;
}

.progress-bar {
    background-color: var(--progress-skill-color);
    border-radius: 8px;
    overflow: hidden;
    height: 20px;
    width: 100%;
    margin: 0 auto;
}


.progress {
    background-color: var(--skills-color);
    height: 100%;
    width: 0; /* Inicialmente 0 para animación */
    animation-duration: 2s;
    animation-fill-mode: forwards; /* Para mantener la animación al final */
}

.progressbar1 {
    animation-name: progressbar1;
}

.progressbar2 {
    animation-name: progressbar2;
}

.progressbar3 {
    animation-name: progressbar3;
}

.progressbar4 {
    animation-name: progressbar4;
}

.progressbar5 {
    animation-name: progressbar5;
}

.progressbar6 {
    animation-name: progressbar6;
}

.progressbar7 {
    animation-name: progressbar7;
}

.progressbar8 {
    animation-name: progressbar8;
}

.progressbar9 {
    animation-name: progressbar9;
}

/* Keyframes personalizados para cada barra */
@keyframes progressbar1 {
    to {
        width: 10%;
    }
}

@keyframes progressbar2 {
    to {
        width: 20%;
    }
}

@keyframes progressbar3 {
    to {
        width: 25%;
    }
}

@keyframes progressbar4 {
    to {
        width: 25%;
    }
}

@keyframes progressbar5 {
    to {
        width: 90%;
    }
}

@keyframes progressbar6 {
    to {
        width: 95%;
    }
}

@keyframes progressbar7 {
    to {
        width: 70%;
    }
}

@keyframes progressbar8 {
    to {
        width: 50%;
    }
}

@keyframes progressbar9 {
    to {
        width: 40%;
    }
}




/* Media query para pantallas más grandes (desktop) */
@media (min-width: 768px) {
    .progress-bar {
        width: 70%; /* Ajusta el ancho al 80% en desktop */
    }

}
