/* Estilos para la lista de navegación */
.nav .list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav .item {
    margin-left: 1rem;
}

/* Estilos para los botones */
.btn {
    color: var(--second-text-color);
    background-color: var(--main-brand-color-light);
    text-decoration: none;
    padding: 0.7rem;
    border-radius: 5px;
    border: 1px solid var(--input-bg-color);
    transition: background-color 0.5s ease, width 0.5s ease; /* Transición suavizada */
    display: inline-block;
    width: 140px; /* Tamaño inicial del botón */
    text-align: center;
}



.btn:hover {
    width: 180px; /* Ancho del botón cuando se pasa el cursor por encima */
}

/* Ocultar el botón de menú en versiones de escritorio */
.menu-btn {
    display: none; /* Oculto por defecto */
}

/* Estilos específicos para pantallas móviles */
@media (max-width: 768px) {
    .desktop-only {
        display: none; /* Ocultamos los botones en pantallas móviles */
    }

    .menu-btn {
        display: inline-block; /* Mostramos el botón Menú en pantallas móviles */
        color: var(--input-bg-color);
    }
}

/* Estilos específicos para pantallas de escritorio */
@media (min-width: 768px) {
    .banner-text {
        margin-left: 20px; /* Movemos ligeramente el texto hacia la derecha en versión desktop */
        transition: margin-left 0.5s ease; /* Transición suave para mover el texto al mismo tiempo que los botones */
    }
}

/* Animaciones en escritorio */
@media (hover: hover) {
    .btn {
        cursor: pointer;
    }

    .btn:hover {
        background-color: var(--main-brand-color-light);
    }

    /* Cuando los botones se expanden, también movemos el texto para compensar */
    .btn:hover ~ .banner-text {
        margin-left: 120px; /* Mover el texto más hacia la derecha al mismo tiempo que los botones se expanden */
    }
}
