/* selectores: tag, class, id
#pr1{
color:red    /* Aquí hemos aplicdo color al id, que es 1,0,0 y por tanto, tiene el porden de preferencia más alto, luego es 0,1,0 y luego es 0,0,1, luego está el elemento
en línea que siempre gana, aunque es mala práctica------ Si te encuentras una clase o un id puesto en línea, se puede solucionar poniendo seguido de "red" !important;
muy mala práctica, pero si no te queda más remedio, pues a tomar por el culo 
}
.default-color{
color:black   /* (leer despyés de p color azul) aquí tenemos la solución, ponemos el punto, escribimos como se haya llamado la clase y le ponemos ese color, OJO, cualquier elemento que se llame
"default-color" pasará a ser negro, se puede usar el "default color botón" para que todos los botones tengan ese color, por ejemplo
}
h1 {
color:red;  /* así le estoy diciendo que el color de h1 será ese. Lo hemos cambiado a través del tag 
background-color: honeydew;
color: red;  /* no hay alerta, si repites propiedades se cambia por la que esté más abajo, se sobreescribe, no da error. CSS funciona en cascada
}
p{
color: blue;  /*en esta web de momento hay dos párrafos, sinembargo, podría surgir la necesidad de que los párrafos tuviesen diferentes nombres, esto se soluciona
con clases y con identificadores. usando el class, hay que ir a la tag de html (sólo la que abre, y le añadimos un atributo, como hemos hecho abajo
}


*/
.main-bg{
    background-color:black;
    background-color:rgba(174, 140, 180);
    background-color: #000;
    color: #fff;
    opacity: 1; 

}
*{
    box-sizing: border-box;  /* esto está en global para todos */
}
.footer {
    background-color: blue;
    margin-top: 80px;
    margin-right: 40px;
    margin-left: 40px;
    /*   T  R  B  Laquí otra forma de escribir el margin, es lo mismo de antes*/
    margin: 80PX, 40PX, 0, 40PX;  
    /* otra forma es hacerlo para el eje Y y el eje X*/
    margin: 80px, 40px; 
    /* si solo pongo un valor, sería el valor que afecta a todos los lados */
    border: 2px solid red;
    /* border-radius: 20px, saldría redondeado */ 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 20px,20px,20px,20px;
    padding: 20px,20px;
    padding: 20px;
}

.main-text{  /* estos son medidas relativas, vienen bien para dar tamaños*/
    width: 25%;
    height: 15vw;
}
/* cada navegador tiene estilos por defecto, por tanto podemos aplicar
reset.css( quita todos los estilos del navegador, de manera que
no importa qué navegador, todos cargarán desde cero, es una opción, pero muy hardcore) 
y normalice.css, que este lo que hace es unificar sólo las diferencias entre
navegadores para que no tengamos problemas a la hora de adaptar nuestra web
Es un archivo que se pone en la carpeta de css y unifica valores, ah y 
SIEMPRE tiene que es el primer link, SIEMPRE */

