
:root {
    --main-text-color: #fff;
    --bg-color: #000;  /* acabo de crear una variable, así es como se usan, con root es
    una variable global y en cualquier parte del css se podrá acceder
    (siempre y que esté definido debajo de esta carpeta common.css en el index
    hacer un variables.css tendría sentido */
    --main-bg: #e50914;
    --main-brand-color-light: #e44c54;
    --secondary-brand-color: #0e1b4f;
    --border-color: #4b5563;
    --main-font-family: Arial, Helvetica, sans-serif; /* Si no soporta una, soporta la otra*/
}
.main-bg{
    
    background-color: rgb(0, 0, 0);
    
    background-color: #000; 
    background-color: var(--bg-color);
    color: var var(--main-text-color);
    opacity: 1;

}


.main-text{  /* estos son medidas relativas, vienen bien para dar tamaños*/
    width: 25%;
    height: 15vw;
    color: var(--main-text-color);
}


