.banner {
    background-color: blue;
    text-align: center;
    height: 75vh;
    align-content: center;
    opacity: 0.3;
    .bold {
        font-weight: 700;
    }
    position: relative;
}
    .image {
        background-image: url("../assets/app/catalog.jpg");
    
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    }
