.banner {
    height: 75vh;
    align-content: center;
    position: relative;
    .bold {
    font-weight: 700;
    }
    .content {
    text-align: center;
    z-index: 1;
    position: relative;
    }
    .image {
    background-image: url('../z-practica/images/pics/'); 
    /* background-repeat: no-repeat ;    por defecto se pone en repetir, mejor que no se repita 
    background-size: cover;  cover es una buena forma de tener una imagen de fondo 
    background-position: center;  esto es ir probando */
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    }
}