:root {
    --bg-color: #000;
    --main-brand-color: #e50914;
    --main-brand-color-light: #e44c54;
    --secondary-brand-color: #0e1b4f;
    --main-text-color: #FFF;
    --border-color: #4b5563;
    --input-bg-color: #333;
    --main-font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.main-bg {
    background-color: rgb(0, 0, 0);
    background-color: #3c5aa0;
    background-color: #000;
    background-color: var(--bg-color);
    color: var(--main-text-color);
    opacity: 1;
    font-family: var(--main-font-family);
    
}


  * {
    box-sizing: border-box;
}
/* media queris!!!!!! */
@media print {    /* esta es la parte del type */
    *{
        /* color: red;  si le das a conrol p, la web saldrá en rojo para imprimir 
        header{
            display: none;
        }
        footer{
            display: none;
        }
        banner {
            display: none;
        } */
        .header.header, .footer, .banner {
            display: none   /* esto es lo mismo que lo de arriba, por cierto, el header no se va cuando le doy a imprimir, por qué? por que el header está por encima en los documentos linkeados en el index, y no quiero cambiarlo, cómo lo hago? pues poniendo el header.header, ahí le aumento la especificidad*/
        }

    }    
}
/*  vamos a las features! me permite determinar si el usuario lo verá de forma predeterminada en  modo oscuro o el modo claro

@media (prefers-color-scheme: light) { 
    :root {
        --bg-color: #fff;
        --main-text-color: #000;

    }

}   Esto te cambiaría la página a modo claro

*/