.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}



.header {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;     /* esto es lo que hacía que mi botón de sign in estuviese pegado al borde derecho*/
    .image {
    width: 100%;
    min-width: 200px;
    max-width: 250px;
    }
    .nav {
    .list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 10px;
    }
    }
}
.nav {
    .list{
        list-style: none;
        padding: 0;
        margin: 0;
        display:flex;
        gap:10px;
    }
}


.hidden {
    display: none;

}
@media screen and (width >= 768px) {
    .hidden {    /* aquí le acabo de decir que cuando la página sea más ancha que 768 el botón que está oculto en resoluciones más pequeñas, deje de estar escondido */
        display: block;
    }
}
